# Discord
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
OWNER_ID=

# YouTube / audio
COOKIES_FILE=./cookies.txt
YTDLP_PATH=
FFMPEG_PATH=

# Bot
EMBED_COLOR=#5865F2
STATUS=🎵 NX Music | /play
QUEUE_LIMIT=100
DEFAULT_VOLUME=70
DEFAULT_AUTOPLAY=false
DEFAULT_247=false

# Sharding
TOTAL_SHARDS=auto
SHARD_LIST=
